@import "variables";
@import "reset";

header {
    height: 100px;
    width: 100%;
    background-color: $greyBackgroundColor;
    
    .header__container {
        height: 100%;
        width: 100%;
        max-width: 1440px;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
            
            .header__h1_title {
                font-size: 1em;
                margin: 0 25px;
        
                a {
                    color: $whiteFontColor;
                }
            }
        
            .header__nav {
                height: 100%;
                width: auto;
                display: flex;
                align-items: center;
                justify-content: flex-end;
                margin: auto 25px;
        
        
                .nav__ul {
                    display: flex;
        
                    .nav__li {
                        margin: 0 5px;
                        
                        a {
                            color: $whiteFontColor;
                        }
        
                        a:hover {
                            color: $purpleFontColor;
                        }
                    }
                }
            }
        }
        
        .hamburger__nav {
            display: flex;
            justify-content: flex-end;
            height: 100%;
            width: 100%;
            position: relative;
            z-index: 0;
        
            .hamburger__input-checkbox_toggle {
                position: fixed;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 45px;
                width: 45px;
                opacity: 0;
                margin: 10px 10px;
                z-index: 5;
                cursor: pointer;
            }
            
            .hamburger {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 45px;
                width: 45px;
                background-color: #454545;    
                margin: 10px 10px;
                position: absolute;
                z-index: 4;
                
                .hamburger__lines {
                    height: 2.5px;
                    width: 70%;
                    background-color: white;
                    position: relative;
                }
                
                .hamburger__lines::before, .hamburger__lines::after {
                    content: "";
                    height: 2.5px;
                    width: 100%;
                    background-color: white;
                    position: absolute;
                    top: -10px;
                }
        
                .hamburger__lines::after {
                    top: 10px;
                }
            }
        
            .hamburger__menu {
                visibility: hidden;
                position: fixed;
                z-index: 3;
                height: 100vh;
                width: 100vw;
                background-color: $greyBackgroundColor;
                opacity: 0.9;
        
                .hamburger__ul {
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
        
                    .hamburger__li {
                        margin: 20px;
                        
                        a {
                            font-size: 1.75em;
                            color: $whiteFontColor;
                        }
        
                        a:hover {
                            color: $purpleFontColor;
                        }
                    }
                }
            }
        }
        
        .hamburger__nav .hamburger__input-checkbox_toggle:checked ~ .hamburger__menu {
            visibility: visible;
        }
    }

@media screen and (min-width: 350px) {
    header {
            
        .header__container {
    
            .header__h1_title {
                font-size: 1.25em;
            }
        }
    }
}

@media screen and (max-width: 700px) {
    header {
        
        .header__container {
            
            .header__nav {
                display: none;
                
                .nav__ul {
                    display: none;
                }
            }
        }
    }
}

@media screen and (min-width: 701px) {
    header {
       
        .header__container {

            .hamburger__nav {
                display: none;
            }

            .hamburger__menu {
                display: none;
            }
        }    
    }
}

@media screen and (min-width: 1440px) {
    header {
        width: 100%;
        
        .header__container {

            .header__h1_title {
                font-size: 2.25em;
            }
    
            .header__nav {
        
                .nav__ul {
        
                    .nav__li {
                        font-size: 1.25em;
                        margin: 0 10px;
                        letter-spacing: 1px;
                    }
                }
            }
        }
    }
}