@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');

// FONT FAMILY
$primaryFontFamily: Roboto, sans-serif;
$secondaryFontFamily: Inter, sans-serif;

// BACKGROUND COLORS
$greyBackgroundColor: #2e2e2e;
$purpleBackgroundColor: #72009A;

// FONT COLORS
$whiteFontColor: #fff;
$blackFontColor: #000;
$purpleFontColor: #9D00D4;