<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/header.css">
</head>
<header>
    <div class="header__container">
        <h1 class="header__h1_title"><a href="/">Feyeto</a></h1>
        
        <nav class="header__nav">
            <ul class="nav__ul">
                <li class="nav__li"><a href="/buy">Buy</a></li>
                <li class="nav__li"><a href="/sell">Sell</a></li>
                <li class="nav__li" id="signin-nav-li"><a href="/signin">Sign In</a></li>
                <li class="nav__li" id="register-nav-li"><a href="/register">Join</a></li>
                
            </ul>
        </nav>

        <div class="hamburger__nav">
            <input class="hamburger__input-checkbox_toggle" type="checkbox">
            
            <div class="hamburger"><div class="hamburger__lines"></div></div>
            
            <nav class="hamburger__menu">
                <ul class="hamburger__ul">
                    <li class="hamburger__li"><a href="/">Home</a></li>
                    <li class="hamburger__li"><a href="/buy">Buy</a></li>
                    <li class="hamburger__li"><a href="/sell">Sell</a></li>
                    <li class="hamburger__li"><a href="/signin">Sign In</a></li>
                    <li class="hamburger__li"><a href="/register">Join</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>
</html>
