<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buy</title>
</head>
<body>
    <%- include('partials/header') -%>
    
    <main>
        <div class="filters">
            <div class="filters__mobile-layout">
                <button class="filters__button">Filters</button>
            </div>

            <div class="filters__div_popup">

            </div>

            <div class="filters__desktop-layout">

            </div>

        </div>


    </main>
</body>
</html>