<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="The Rock" />
    <meta property="og:url" content="https://www.feyeto.com" />
    <!-- <meta property="og:image" content="" /> -->
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/reset.css">
    <title>Feyeto</title>
</head>
<body>
    <header>
        <div class="header__container">
            <h1 class="header__h1_title"><a href="#">Feyeto</a></h1>
            
            <nav class="header__nav">
                <ul class="nav__ul">
                    <li class="nav__li"><a href="#">Buy</a></li>
                    <li class="nav__li"><a href="#">Sell</a></li>
                    <li class="nav__li"><a href="#">Rent</a></li>
                    <li class="nav__li"><a href="#">Sign In</a></li>
                    <li class="nav__li"><a href="#">Join</a></li>
                </ul>
            </nav>

            <div class="hamburger__nav">
                <input class="hamburger__input-checkbox_toggle" type="checkbox">
                
                <div class="hamburger"><div class="hamburger__lines"></div></div>
                
                <nav class="hamburger__menu">
                    <ul class="hamburger__ul">
                        <li class="hamburger__li"><a href="#">Home</a></li>
                        <li class="hamburger__li"><a href="#">Buy</a></li>
                        <li class="hamburger__li"><a href="#">Sell</a></li>
                        <li class="hamburger__li"><a href="#">Rent</a></li>
                        <li class="hamburger__li"><a href="#">Sign In</a></li>
                        <li class="hamburger__li"><a href="#">Join</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>

    <main>
        <section class="hero">
            <div class="clip-path_background"></div>
            <div class="hero__div_image-container">
                <figure class="hero__figure hero-500px grid-item1">
                    <img src="images/HeroimageInterior.jpg" alt="Woman in cargo Van" width="100%" height="100%">
                </figure>
                
                <figure class="hero__figure grid-item2">
                    <img src="images/HeroimageIndex.jpg" alt="Black mercedes sprinter van side view" width="100%" height="100%">
                </figure>

                <figure class="hero__figure hero-500px grid-item3">
                    <img src="images/HeroRam.jpg" alt="Ram Promaster" width="100%" height="100%">
                </figure>

                <figure class="hero__figure hero-500px grid-item4">
                    <img src="images/HeroSurfInterior.jpeg" alt="Cargo van Interior with Surfboards" width="100%" height="100%">
                </figure>
            </div>
        </section>

        <section class="popular-vans__section">
            <h2 class="popular-vans__h2">Popular Vans</h2>
            
            <div class="popular-mercedes__container">
                <figure>
                    <img src="images/MercedesPopular.jpg" alt="Ram Promaster">
                </figure>

                <div>
                    <h3 class="popular__h3">Mercedes Sprinter</h3>
                    <p class="popular__p">From first to second and the latest generations of the sprinter van are available here.</p>
                    <button class="popular__button">Search</button>
                </div>
            </div>

            <div class="popular-ram__container">
                <figure>
                    <img src="images/RamPopular.jpg" alt="Ford Transit">
                </figure>

                <div>
                    <h3 class="popular__h3">Ram Promaster</h3>
                    <p class="popular__p">The most consistently bought van at an affordable price with multiple trims.</p>
                    <button class="popular__button">Search</button>
                </div>
            </div>

            <div class="popular-ford__container">
                <figure>
                    <img src="images/FordPopular.jpg" alt="Black Mercedes Sprinter Van">
                </figure>

                <div>
                    <h3 class="popular__h3">Ford Transit</h3>
                    <p class="popular__p">Ford has made a name for themselves by being affordable and easily maintained.</p>
                    <button class="popular__button">Search</button>
                </div>
            </div>
        </section>
    </main>
</body>
</html>