<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="The Rock" />
    <meta property="og:url" content="https://www.feyeto.com" />
    <!-- <meta property="og:image" content="" /> -->
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/reset.css">
    <title>Feyeto</title>
</head>
<body>
    <header>
        <h1 class="header__h1_title"><a href="#">Feyeto</a></h1>
        
        <nav class="header__nav">
            <ul class="nav__ul">
                <li class="nav__li"><a href="#">Buy</a></li>
                <li class="nav__li"><a href="#">Sell</a></li>
                <li class="nav__li"><a href="#">Rent</a></li>
                <li class="nav__li"><a href="#">Sign In</a></li>
                <li class="nav__li"><a href="#">Join</a></li>
            </ul>
        </nav>

        <div class="hamburger__nav">
            <input class="hamburger__input-checkbox_toggle" type="checkbox">
            
            <div class="hamburger"><div class="hamburger__lines"></div></div>
            
            <nav class="hamburger__menu">
                <ul class="hamburger__ul">
                    <li class="hamburger__li"><a href="#">Buy</a></li>
                    <li class="hamburger__li"><a href="#">Sell</a></li>
                    <li class="hamburger__li"><a href="#">Rent</a></li>
                    <li class="hamburger__li"><a href="#">Sign In</a></li>
                    <li class="hamburger__li"><a href="#">Join</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main>
        <section class="hero">
            <div class="hero__div_image-container">
                <figure>
                    <img src="images/InteriorHero1.png" alt="" width="60" height="100">
                </figure>
                <figure>
                    <img src="images/heroimgVan1.png" alt="" width="80" height="75">
                </figure>
                <figure>
                    <img src="images/Ramhero1.png" alt="" width="80" height="75">
                </figure>
                <figure>
                    <img src="images/vanhero1.png" alt="" width="60" height="100">
                </figure>
            </div>
        </section>
    </main>
</body>
</html>