<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="Join" />
    <meta property="og:url" content="https://www.feyeto/join.com" />
    <!-- <meta property="og:image" content="" /> -->
    <link rel="stylesheet" href="css/register.css">
    <link rel="stylesheet" href="css/reset.css">
    <title>Register</title>
</head>
<body>
    <%- include('partials/header') -%>
    
    <main>
        <h1 class="join__h1">Register</h1>

        <figure class="join__figure">
            <img src="images/GreenVan.png" alt="Green Cartoon Van" width="100%" height="100%">
        </figure>

        <div class="input-guidelines__div">
            <h3>Guidelines</h3>

            <p><span style="font-weight: 600;">Username and Passwords:</span> You are not allowed to leave spaces nor use the following characters: , / ; : '' "" \ | . </p>
            <p><span style="font-weight: 600;">Email:</span> Has to be a valid email address registered to the user currently registering</p>
        </div>
        
        <form action="/register" class="join__form" method="post">
            <div class="username__div_container form__input-container">
                <label for="username">Username:</label>
                <p style="font-size: 0.75em; font-weight: 600;"><span style="font-weight: 600; opacity: 0.4;">Minimum Character Length:</span> 8</p>
                <input id="username-input" 
                    type="text" 
                    required 
                    autocomplete="on" 
                    autofocus 
                    minlength="8" 
                    maxlength="16"
                    oninput="whitespaceIdentifier(event)"
                    oninput="invalidCharacterUsername(event)"
                >
            </div>       

            <div class="email__div_container form__input-container">
                <label for="email">Email:</label>
                <input type="text" required autocomplete="on">
            </div>

            <div class="password__div_container form__input-container">
                <label for="password">Password:</label>
                <p style="font-size: 0.75em; font-weight: 600;"><span style="font-weight: 600; opacity: 0.4;">Minimum Character Length:</span> 8</p>
                <input id="password-input" 
                    type="password" 
                    required minlength="8" 
                    maxlength="16" 
                    oninput="whitespaceIdentifier(event)"
                    oninput="invalidCharacterUsername(event)"
                >
            </div>

            <div class="confirm-password__div_container form__input-container">
                <label for="password">Confirm Password:</label>
                <input type="password" required>
            </div>

            <button type="submit" class="form__button_submit">Submit</button>
        </form>
    </main>
</body>
<script src="js/register.js"></script>
</html>