@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap");
.darken {
  display: none;
  position: absolute;
  z-index: -1;
  height: 130%;
  width: 100vw;
  background-color: black;
  opacity: 0.8;
}

main {
  height: auto;
  width: auto;
}
main .filters {
  height: inherit;
  width: inherit;
}
main .filters .filters__mobile-layout {
  height: auto;
  width: auto;
}
main .filters .filters__mobile-layout .filters-container__button {
  text-align: center;
  margin: 20px auto;
}
main .filters .filters__mobile-layout .filters-container__button .filters__button {
  height: 35px;
  width: 60px;
  color: #fff;
  font-weight: 500;
  letter-spacing: 1px;
  background-color: #72009A;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
}
main .filters .filters__div_popup {
  width: 250px;
  margin: auto;
  display: none;
  background-color: white;
  border-radius: 5px;
}
main .filters .filters__div_popup .container__button_close-form {
  max-width: 250px;
  text-align: right;
}
main .filters .filters__div_popup .container__button_close-form .close__button {
  height: 40px;
  width: 40px;
  background-color: rgb(214, 0, 0);
  color: #fff;
  font-weight: 500;
  font-size: 1.25em;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
main .filters .filters__div_popup .filters__form_popup {
  max-width: 250px;
  margin: 20px auto;
}
main .filters .filters__div_popup .filters__form_popup .filter-container__div {
  margin: 15px auto;
}
main .filters .filters__div_popup .filters__form_popup .form__button_apply-filters {
  margin: 30px auto;
  text-align: center;
}
main .filters .filters__div_popup .filters__form_popup .form__button_apply-filters .form__button {
  height: 37px;
  width: 80px;
  margin: 15px auto;
  border-radius: 5px;
  border: none;
  background-color: #74ACA8;
  color: #fff;
  font-weight: 600;
  letter-spacing: 1px;
  cursor: pointer;
}
main .filters .filters__desktop-layout {
  height: auto;
  width: 100%;
}
main .filters .filters__desktop-layout .container__div_filter-buttons {
  height: auto;
  width: inherit;
  margin: 25px auto;
  text-align: center;
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  row-gap: 40px;
  align-items: center;
  justify-content: center;
}
main .filters .filters__desktop-layout .container__div_filter-buttons .filter__dropdown-container {
  height: auto;
  width: auto;
}
main .filters .filters__desktop-layout .container__div_filter-buttons .filter__dropdown-container .filter__button {
  height: 37px;
  width: 80px;
  font-weight: 500;
  margin: 0 25px;
  background-color: #72009A;
  color: #fff;
  border: 1.75px solid black;
  border-radius: 5px;
  cursor: pointer;
}
main .filters .filters__desktop-layout .container__div_filter-buttons .filter__dropdown-container .drop-down-content__div {
  visibility: hidden;
  display: grid;
  position: absolute;
  width: 130px;
}
main .filters .filters__desktop-layout .container__div_filter-buttons .filter__dropdown-container .drop-down-content__div button {
  height: 30px;
  font-weight: 500;
  color: #000;
  background-color: white;
  border: 1px solid black;
}
main .filters .filters__desktop-layout .container__div_filter-buttons .filter__dropdown-container .drop-down-content__div button:hover {
  background-color: #74ACA8;
}
main .filters .filters__desktop-layout .container__div_filter-buttons .filter__dropdown-container:hover .drop-down-content__div {
  visibility: visible;
}
main .filters .filters__desktop-layout .container__div_filter-buttons .filter__button_new-used {
  height: 37px;
  width: 80px;
  font-weight: 500;
  margin: 0 25px;
  background-color: #72009A;
  color: #fff;
  border: 1.75px solid black;
  border-radius: 5px;
  cursor: pointer;
}
main .filters .filters__desktop-layout .container__div_filter-buttons .filter__div_price {
  height: auto;
  width: 100%;
}
main .filters .filters__desktop-layout .container__div_filter-buttons .filter__div_price label {
  font-weight: 500;
}
main .filters .filters__desktop-layout .container__div_filter-buttons .filter__div_price input {
  height: auto;
  width: 250px;
}
main .filters .filters__desktop-layout .container__div_filter-buttons .filter__div_apply {
  height: auto;
  width: auto;
}
main .filters .filters__desktop-layout .container__div_filter-buttons .filter__div_apply .filter__button_apply {
  height: 37px;
  width: 80px;
  font-weight: 500;
  margin: 0 20px;
  background-color: #74ACA8;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
main .filters .filters__desktop-layout .container__div_filter-buttons .grid-item1 {
  grid-area: 1/1/2/2;
}
main .filters .filters__desktop-layout .container__div_filter-buttons .grid-item2 {
  grid-area: auto;
}
main .filters .filters__desktop-layout .container__div_filter-buttons .grid-item3 {
  grid-area: auto;
}
main .filters .filters__desktop-layout .container__div_filter-buttons .grid-item4 {
  grid-area: auto;
}
main .filters .filters__desktop-layout .container__div_filter-buttons .grid-item5 {
  grid-area: auto;
}
main .filters .filters__desktop-layout .container__div_filter-buttons .grid-item6 {
  grid-area: 2/1/3/4;
}
main .filters .filters__desktop-layout .container__div_filter-buttons .grid-item7 {
  grid-area: 2/4/3/6;
}

.listings__section {
  position: relative;
  z-index: -2;
  height: auto;
  width: 100vw;
}
.listings__section .listings-container__div.grid {
  height: auto;
  width: auto;
  padding: 10px;
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
  text-align: left;
}
.listings__section .listings-container__div.grid .card {
  height: auto;
  width: auto;
  background-color: #2e2e2e;
  box-shadow: 0 0 5px 1px grey;
  height: auto;
  width: auto;
}
.listings__section .listings-container__div.grid .card figure {
  height: auto;
  width: auto;
}
.listings__section .listings-container__div.grid .card .specifications {
  padding-left: 10px;
  padding-bottom: 10px;
}
.listings__section .listings-container__div.grid .card .specifications h3 {
  color: #fff;
}
.listings__section .listings-container__div.grid .card .specifications p {
  color: #fff;
  margin: 10px 0;
}

@media screen and (min-width: 701px) {
  main .filters .filters__mobile-layout {
    display: none;
  }
}
@media screen and (max-width: 701px) {
  main .filters .filters__desktop-layout {
    display: none;
  }
}

/*# sourceMappingURL=buy.css.map */
